.call-to-action-jumbotron {
  font-size: 70px;
  margin-bottom: 10px;
}

.jumbotron-main {
  background-image: linear-gradient(
      rgba(5, 5, 8, 0.65),
      rgba(114, 114, 114, 0.45)
    ),
    url(../img/background.jpg);
  background-size: cover;
}

.card {
  margin-bottom: 20px;
}

.navbar {
  background-image: linear-gradient(
      rgba(18, 46, 63, 0.45),
      rgba(16, 49, 59, 0.45)
    ),
    url(../img/background.jpg);
  background-size: cover;
}

.carousel-caption {
  background: linear-gradient (rgba(5, 5, 8, 0.86), rgba(114, 114, 114, 0.45));
}
body,
.card-body {
  background-color: rgb(28, 55, 73);
  background: linear-gradient (rgba(5, 5, 8, 0.45), rgba(114, 114, 114, 0.45));
  color: white;
}

.carry {
  margin-top: 50px;
  margin-bottom: 50px;
}

.pic {
  margin-top: 40px;
}

.jumbotron-about {
  background-image: linear-gradient(rgba(5, 5, 8, 0.85), rgba(16, 49, 59, 0.85)),
    url(../img/nyc_curbedcup_main.0.jpg);
  background-size: cover;
}

.buyersicon {
  font-size: 150px;
}

.img {
  border-radius: 10px;
}

.breakground {
  background: transparent,
    linear-gradient(rgba(5, 5, 8, 0.85), rgba(16, 49, 59, 0.85));
  border-radius: 50%;
  image-rendering: optimizeSpeed;
}
